.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.thecard:hover {
  transform: rotateY(180deg);
}
.thefront {
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}
.theback {
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
}
